# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==2.0.3
boto3==1.26.89
boto3==1.26.89
docx==0.2.4
google==3.0.0
nltk==3.8.1
pypdf2==3.0.1
pytesseract==0.3.10