<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyze Files</title>
    <style>
        .topnav {
            position: absolute;
            top: 20px;
            right: 10px;
        }

        .topnav button {
            margin-top: 10px;
            margin-right: 10px;
            float: right;
            font-size: 16px;
        }
    </style>
</head>
<body>
<h1>Analyze Files</h1>
{% if not_found %}
<h3>File not found</h3>
<a href="/analyze">&larr; Back</a>
{% elif file_analyzed %}
<h3>Document name</h3>
{{name}}
<h3>Document link</h3>
{{link}}
<h3>Keywords</h3>
{{keywords|e}}
<h3>Summary</h3>
{{summary|e}}
<h3>Sentiment</h3>
{{sentiment|e}}
<h3>Date Uploaded</h3>
{{date_uploaded|e}}
<h3>File size</h3>
{{size|e}}
<br>
<a href="/analyze">&larr; Back</a>
{% else %}

<form name="file_analysis_form" method="POST" action="/file_analysis" onsubmit="return validateInput()">
    <input type="text" name="fileId" placeholder="Enter file name">
    <input type="submit">
</form>
<br>
<a href="/index">&larr; Back</a>
{% endif %}

<div class="topnav">
    {{user|e}}
    <form method="post" action="/logout">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>

<script>
    function validateInput() {
        var input = document.forms["file_analysis_form"]["fileId"].value;
        var regex = /^[a-zA-Z0-9_\-\. ]+$/; // only allow alphanumeric characters
        if (!input.match(regex)) {
            alert("Input must only contain alphanumeric characters.");
            return false;
        }
    }
</script>


