<style>
    .topnav {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .topnav button {
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        font-size: 16px;
    }
</style>
{% block content %}
<div class="container mt-3">

    {% if user %}
    Welcome {{user|e}}!

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="uploader" data-toggle="tab">Upload/Download Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="analyze" data-toggle="tab">Analyze Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="search" data-toggle="tab">Search Keyword Definition</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="upload">
            <!-- upload/download files form -->
        </div>
        <div class="tab-pane" id="analyze">
            <!-- file analysis form -->
        </div>
        <div class="tab-pane" id="search">
            <!-- keyword search form -->
        </div>
    </div>
</div>

<div class="topnav">
    {{user}}
    <form method="post" action="/logout">
        <button type="submit">Logout</button>
    </form>
</div>
{% endif %}
{% endblock %}